body {
	font-family:"Open Sans", Times, "Times New Roman", serif;
	background-color: #b3b3b3;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

a:visited {
	color: black;
}

#links {
	display: flex;
	justify-content: space-between;
}

.logo {
	border: solid white 1px;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
	background-color: #fecd04;
	font-weight: bold;
	opacity: 0.9;
	padding: 5px;
	font-size: 20px;
	margin: 5px;
	
}

.header-image{
	background-image: url("https://static.themoscowtimes.com/image/article_1360/ce/2e591d3ff6604da2aa0222faad860e1c.jpg");
	height: 500px;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	position: relative;
	margin: 5px;
}
.header-text{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 200%;
}

.info{
	text-align: center;
	border: solid black 1px;
	margin: 5px;
	padding: 5px;
	font-size: 20px;
}
.description_header{
	font-weight: bold;
}
.hyperlink {
	text-align: center;
}
.social-media{
	display: flex;
	justify-content: center;
	background-color: white;
	padding-top: 2px;
}


.searchAndLang {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}



a {
	text-decoration: none;
	font-size: 1em;
	padding-left: 05px;
	padding-right: 35px;
}

a:link {
	color:black;
}

.footer {
	text-align: center;
	color: #FFFFFF;
	margin: 5px;
}

a:hover {
	color: #b3b3b3;
}

#heading {
	font-size: 2em;
	color: white;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 25px;
}

